@font-face {
    -fx-font-family: "Franklin";
    src: url("franklin-normal-600.ttf");
}

@font-face {
    -fx-font-family: "Karnak";
    src: url("karnak-normal-400.ttf");
}

.root {
    -fx-background-color: #121213;
    -fx-font-family: "Franklin";
}

#navbar Label {
    -fx-font-family: "Franklin";
    -fx-text-fill: white;
    -fx-font-size: 42px;
    -fx-font-weight: bold;
    -fx-padding: 0 100;
}
#navbar Button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-padding: 0 10;
}

.tile {
    -fx-background-color: #121213;
    -fx-border-color: #3a3a3c;
    -fx-text-fill: white;
    -fx-border-width: 2px;
    -fx-font-weight: bold;
    -fx-font-size: 26px;
    -fx-min-width: 64px;
    -fx-min-height: 64px;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.key {
    -fx-background-color: #818384;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-min-width: 46px;
    -fx-min-height: 62px;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-background-radius: 4px;
    -fx-focus-color: transparent;
}

.largeKey {
    -fx-font-size: 16px;
    -fx-min-width: 72px;
    -fx-min-height: 62px;
}

.greenTile {
    -fx-background-color: #538d4e;
    -fx-border-color: #538d4e;
}
.greenKey {
    -fx-background-color: #538d4e;
}

.yellowTile {
    -fx-background-color: #b59f3b;
    -fx-border-color: #b59f3b;
}
.yellowKey {
    -fx-background-color: #b59f3b;
}

.grayTile{
    -fx-background-color: #3a3a3c;
    -fx-border-color: #3a3a3c;
}
.grayKey{
    -fx-background-color: #3a3a3c;
}